!!! 5
%html
  %head

    %title [PUT MY TITLE HERE]
    %meta{:charset => 'utf-8' }/
    / Disable phone number linking
    %meta{:name =>'format-detection',  :content=>"telephone=no" }/

    / Global stylesheets
    = stylesheet_link_tag 'less/reset', :media => 'all'
    = stylesheet_link_tag 'less/style', :media => 'all'

    / Fallback if browser does not support media queries. ie IE7, IE8
    = stylesheet_link_tag 'less/10col', :media => 'all'

    / Media Queries...LESS
    = stylesheet_link_tag 'less/10col', :media => 'only screen and (min-width: 992px)'
    = stylesheet_link_tag 'less/8col',  :media => 'only screen and (min-width: 768px) and (max-width: 991px)'
    = stylesheet_link_tag 'less/3col',  :media => 'only screen and (max-width: 767px)'
    = stylesheet_link_tag 'less/5col',  :media => 'only screen and (min-width: 480px) and (max-width: 767px)'
    = stylesheet_link_tag 'smoothness/jquery-ui.css', :media => 'all'
    / smartphone stuff
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1'}/

    -# put app stylesheets here. add to the array
    - %w{application}.each do |cf|
      = stylesheet_link_tag cf, :media => 'all'

    = csrf_meta_tag
  %body
    = render 'shared/header'
    = yield
    = render 'shared/footer'
    = javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery_ujs', 'less-grid-4'
    /[if lt IE 9]
      %script { :type => 'text/javascript', :src  => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }

