!!!
%html
  %head

    %title [PUT MY TITLE HERE]
    = stylesheet_link_tag :all

    = csrf_meta_tag
  %body
    = render 'shared/header'
    = yield
    = render 'shared/footer'

  = javascript_include_tag :defaults

